<section class="banner">
    <div class="container">
        <div class="banner_inner">
            {% if section.settings.headline !=blank %}
                <h2>{{if section.settings.headline}}</h2>
            {%endif%}
        </div>
    </div>
</section>