<style>
 .product_media_gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
 .slick-initialized .slick-slide {
  width: 90px;
}
 .product_media_gallery .for_img {
  height: 573px;
}
 .product_media_gallery .nav_img {
  height: 80px;
}
 .product_media_gallery .nav_img {
  opacity: 0.5;
  margin: 7px;
}
 .product_media_gallery .nav_img.low-opacity {
opacity: 1;
}
 .slick-slider {
  margin-bottom: 0;
}
 h1 {
  margin: 0;
  padding-bottom: 24px;
}
 .h1 {
  display: none;
}
.price--on-sale .price__sale {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 40px;
}
.price--large {
  font-size: 2.5rem; 
}
.link {
  display: none;
}
.quantity:after {
  border-radius: 8px;
}
.quantity {
  width: 10rem;
}
.quantity__button {
  width: 4rem;
}
.form__label {
  display: none;
}
.combination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
form#product-form-template--15761391386685__main {
  width: 68%;
}
.button--full-width {
  max-width: 370px;
}
.button {
  background: #F0BB62;
  border-radius: 8px;
}
li.icon-with-text__item {
  display: flex;
  flex-direction: column;
  width: 100px;
}
ul.icon-with-text.icon-with-text--horizontal.list-unstyled {
  display: flex;
  gap: 52px;
  padding-top: 60px;
}
span.h4.inline-richtext {
  text-align: center;
  padding-top: 14px;
}
.product-media-modal__dialog {
  display: none;
}
.accordion__title {
  color: #000900;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.24px;
}
.accordion__content {
  color: #5E5A57;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px; 
}
</style>
<div class="product_media_gallery">
  <div class="media_gallery_for">
    {% for media in product.media %}
      <div class="for_img">
        {{ media | image_url: width: 1048, height: 1048 | image_tag }}
      </div>
    {% endfor %}
  </div>
  <div class="media_gallery_nav">
    <div class="product_nav">
      {% for media in product.media %}
        <div class="nav_img">
          {{ media | image_url: height: 1048, width: 1048 | image_tag }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>

<script>
$(document).ready(function() {
    $('.media_gallery_for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.product_nav'
    });
    $('.product_nav').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        asNavFor: '.media_gallery_for',
        dots: false,
        centerMode: false,
        variableWidth: false,
        focusOnSelect: true
    });

    function updateActiveNavImg() {
        $('.product_nav .nav_img').removeClass('low-opacity');
        $('.product_nav .slick-current').addClass('low-opacity');
    }

    updateActiveNavImg();

    $('.media_gallery_for').on('afterChange', function(event, slick, currentSlide) {
        updateActiveNavImg();
    });

    $('.product_nav .nav_img').on('click', function() {
        setTimeout(updateActiveNavImg, 50);
    });
});


</script>